.card {
  background: var(--bg-2);

  margin: var(--gap);
  border-radius: var(--border-radius);
}

.image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.text {
  padding: var(--gap);
}

.comments {
  color: var(--text-2);
}
