.card {
  background: var(--secondary-bg);

  margin: var(--gap);
  border-radius: var(--border-radius);
}

.gradient {
  border-radius: var(--border-radius);

  padding: var(--gap);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--secondary-bg));
}
