.card__base {
  background: var(--bg-2);

  border-radius: var(--border-radius);
  padding: var(--gap);

  display: flex;
  flex-flow: column;
}

.card__base > * + * {
  margin-top: var(--gap);
}

.card__image {
  object-fit: cover;

  width: 100%;
  height: auto;

  border-radius: calc(
    var(--border-radius) - var(--gap) + var(--image-border-width)
  );
  outline: var(--image-border-width) solid var(--image-border-color);
  outline-offset: calc(-1 * var(--image-border-width));

  text-align: center;
}

.card__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__comments {
  color: var(--text-2);
}
