.mode-toggle {
  color: var(--text);
  background: none;

  padding: var(--gap-half);

  border-radius: var(--border-radius);
  border: none;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  cursor: pointer;

  &:active {
    background: var(--accent);
  }
}

@media (hover: hover) and (pointer: fine) {
  .mode-toggle:hover {
    background: var(--accent);
  }
}
