.navbarContainer {
  background: var(--bg-transparent);
  backdrop-filter: blur(var(--blur-radius));
  background-image: var(--tiled-bg);

  position: sticky;
  top: 0px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.navbar {
  width: 768px;

  font-weight: 600;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100vw;
  }
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: var(--gap-half);
}

.link {
  border-radius: 9999px;
  display: inline-block;

  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap-half);
  padding-bottom: var(--gap-half);

  color: var(--text-2);

  text-decoration: none;
  background: rgba(0, 0, 0, 0);

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  > a {
    color: inherit;
  }

  &:hover {
    filter: var(--drop-shadow);

    color: var(--text);
    background: var(--bg-3);
  }
}

.title {
  display: inline-block;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }
}

.languageSwitcher {
  color: var(--text-2);

  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap-half);
  padding-bottom: var(--gap-half);

  > a {
    color: inherit;

    text-decoration: none;

    &:hover {
      color: var(--accent);
    }
  }
}
