.navbar {
  color: var(--accent);
  background: var(--bg-75);
  backdrop-filter: blur(0.4);

  font-weight: 600;

  position: sticky;
  top: 0px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  border-radius: 9999px;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  display: none;
}

@media (min-width: 768px) {
  .title {
    display: inline-block;
  }
}

.linkName {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link {
  border-radius: 9999px;
  display: inline-block;
  padding: 0.5rem;

  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  > a {
    color: var(--accent);
    text-decoration: none;

    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
      color: var(--text-main);
    }
  }

  &:hover {
    background: var(--accent);
  }
}

.linksContainer {
  padding: 0.5rem;
}
