:root {
  /* Spacing */
  --gap-quarter: 4px;
  --gap-half: 8px;
  --gap: 16px;
  --gap-double: 32px;

  --image-border-color: #fff4;
  --image-border-width: 3px;

  --border-radius: 25px;
  --blur-radius: 4px;

  --app-width: 768px;

  --black: #0f0f0f;
  --black-2: #272727;
  --black-3: #606060;
  --accent: #e2d07b;
  --white: #ffffff;
  --white-2: #ebebeb;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.light,
[data-theme="light"] {
  color-scheme: light;

  /* Colors */
  --text: var(--black);
  --text-2: var(--black-3);

  --bg: var(--white);
  --bg-2: var(--white-2);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  --text: var(--white);
  --text-2: var(--white-2);

  --bg: var(--black);
  --bg-2: var(--black-2);

  transition: background-color 2s ease;
}

::selection {
  text-shadow: none;
  background: var(--accent);
  color: var(--bg);
}

body {
  color: var(--text);
  background: var(--bg);

  min-height: 100dvh;
  margin: 0;

  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}

.root__content {
  width: var(--app-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--gap);
}

.root__content > main {
  margin: var(--gap-double) 0;
}

.root__content > main > * + * {
  margin-top: var(--gap-double);
}

a {
  color: var(--text);

  text-decoration: underline;
  text-underline-offset: 4px;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:active {
    color: var(--accent);
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--accent);
  }
}

u {
  text-underline-offset: 4px;
  text-decoration-color: var(--accent);
}

.container-center {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

li {
  padding: var(--gap-quarter) 0;
}

code {
  font-family: "JetBrains Mono", monospace;
}
