.footerContainer {
  display: flex;
  justify-content: center;
}

.footer {
  margin: var(--gap-half);

  background: var(--bg-2);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);

  color: var(--text-2);

  width: 768px;
}

@media (max-width: 768px) {
  .footer {
    max-width: 100vw;
  }
}

.toSides {
  padding: var(--gap);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cookie {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.name {
  padding: var(--gap-half);
}

.link {
  color: var(--text-2);

  padding: var(--gap-half);

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: var(--accent);
  }
}
