.footerContainer {
  display: flex;
  justify-content: center;
}

.footer {
  color: var(--text-secondary);
  width: max-content;
  width: 768px;

  padding: 2rem;
}

@media (max-width: 768px) {
  .footer {
    max-width: 100vw;
  }
}

.toSides {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cookie {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.link {
  color: var(--text-secondary);

  margin: 0.5rem;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: var(--accent);
  }
}
