.introduction {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
}

.socials > * > svg {
  width: var(--gap-double);
  height: auto;
}

.socials > * + * {
  margin-left: var(--gap-half);
}

.title {
  text-align: center;
}
