.main {
  color: var(--text);

  background: var(--bg);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: var(--gap);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width {
  max-width: 768px;
}

@media (max-width: 768px) {
  .width {
    max-width: 100vw;
  }
}
