.basePageLayout {
  color: var(--text);
  background: var(--bg);

  min-height: 100dvh;

  display: flex;
  justify-content: center;
}

.content {
  padding: var(--gap);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 768px;
  min-height: 100%;
}

.content > * + * {
  margin-top: var(--gap);
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
