.basePageLayout {
  color: var(--text);

  background: var(--bg);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 0 var(--gap);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 768px;

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
}

@media (max-width: 768px) {
  .content {
    max-width: 100vw;
  }
}
