:root {
  /* Spacing */
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --border-radius: 12px;
  --blur-radius: 4px;

  /* Colors */
  --text: #0f0f0f;
  --text-2: #606060;

  --accent: #68cefd;

  --bg: #ffffff;
  --bg-2: #f2f2f2;
}

[data-theme="dark"] {
  --text: #ffffff;
  --text-2: #aaa;

  --bg: #0f0f0f;
  --bg-2: #272727;
}

::selection {
  text-shadow: none;
  background: var(--text);
  color: var(--bg);
}

body {
  margin: 0;

  overflow-wrap: break-word;
}

button {
  font-family: inherit;

  color: var(--bg);
  background: var(--text);

  font-weight: 600;

  padding: var(--gap);

  border-radius: var(--border-radius);
  border: none;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  cursor: pointer;

  &:active {
    background: var(--accent);
  }
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background: var(--accent);
  }
}

a {
  color: var(--text);

  text-decoration: underline;
  text-underline-offset: 4px;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:active {
    color: var(--accent);
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--accent);
  }
}

u {
  text-underline-offset: 4px;
  text-decoration-color: var(--accent);
}

.container-center {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  margin: var(--gap-half);
}

.text-center {
  text-align: center;
}

select {
  color: var(--text);
  background-color: var(--bg);

  padding: var(--gap-half);

  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;

  cursor: pointer;

  font-family: var(--font-inter);

  outline: none;
}

option {
  color: var(--text);
  background-color: var(--bg);

  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
}
