:root {
  /* Colors */
  --text-main: #fff;
  --text-secondary: #aaa;

  --accent: #4aada6;
  --accent-darker: #347a75;

  --warning: #ded15b;
  --danger: #de5d5b;

  --bg: #000;
  --bg-75: rgba(0, 0, 0, 0.5);
  --secondary-bg: #131313;
  --border-color: #232323;

  --selection: #fff;

  /* Spacing */
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --border-radius: 12px;
  --border-width: 2px;

  --blur-radius: 4px;

  color-scheme: "dark";
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

body {
  margin: 0;
}

button {
  font-family: inherit;

  color: var(--text-main);
  background: var(--accent-darker);

  font-weight: 600;

  padding: var(--gap);

  border-radius: var(--border-radius);
  border: none;

  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    cursor: pointer;
    background: var(--accent);
  }
}

a {
  color: var(--text-main);

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    color: var(--accent);
  }
}

.color-accent {
  color: var(--accent);
}

.container-center {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gap-half {
  margin: var(--gap-half);
}

li {
  margin: var(--gap-half);
}

.text-center {
  text-align: center;
}

u {
  text-decoration: underline;
  text-underline-offset: 4px;
}
