:root {
  /* Colors */
  --text-main: #fff;
  --text-secondary: #aaa;

  --accent: #397f7b;

  --bg: #000;
  --bg-75: rgba(0, 0, 0, 0.75);
  --secondary-bg: #202020;
  --border-color: #404040;

  --selection: #fff;

  /* Spacing */
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --border-radius: 12px;
  --border-width: 2px;

  color-scheme: "dark";
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

body {
  margin: 0;
}

button {
  font-family: inherit;

  color: var(--text-main);
  background: var(--accent);

  font-weight: 600;

  padding: 1rem;

  border-radius: 0.75rem;
  border: none;

  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    cursor: pointer;
    background: var(--accent);
  }
}

a {
  color: var(--text-main);

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    color: var(--accent);
  }
}

.color-accent {
  color: var(--accent);
}

.container-center {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
